{% extends 'polls/base.html' %}

{% block content %}

<h1>create poll</h1>

<form method="post" action="{% url 'create_poll' %}">
  {% csrf_token %}
  <p>question:</p>
  <input type="text" name="question"required><br><br>

  <p>choices (one per line):</p>
  <textarea name="choices" rows="5" cols="40" required></textarea><br><br>


  <p>created by:</p>
  <input type="text" name="creator" required><br><br>  

  <button type="submit">create</button>
</form>

<a href="{% url 'poll_list' %}">back to polls</a>

{% endblock %}